{% extends 'layout.html' %}
{% block body %}
<h1>users_list</h1>

<table class="myUsersList">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Password</th>
            <th>Active</th>
            <th>Create</th>
            <th>Update</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        {% for user in users %}
        <tr>
            <td>{{ user.0 }}</td>
            <td>{{ user.1 }}</td>
            <td>{{ user.2 }}</td>
            <td>{{ user.3 }}</td>
            <td>{{ user.4 }}</td>
            <td>{{ user.5 }}</td>
            <td>
                <a href="/user_update/{{ user.0 }} ">update</a>
                delete
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}